{{vot-star temasVotados=temasVotados}}

<div class="container w-650">

  <div class="title-container">

    <div class="center">
      <h4 class="title-label">Temario de la próxima Roots</h4>
      <div {{action "editarFecha" }}>
        {{#if editandoFecha}}
          {{tenpines/input-date label='Fecha' value=reunion.fecha}}
        {{else}}
          <h4 class="title-date">{{fechaDeReunion}}</h4>
        {{/if}}
      </div>
    </div>

    <div class="space-between">
      <div class="flex-center" id="obligatoriedad-resaltable">
        <h6 class="{{resaltarPropuesas}}" {{action 'verObligatorios' false}}>Temas propuestos
          ({{contarPropuestasNoObligatorias}})</h6>
        <h6 class="{{resaltarObligatoriedad}}" {{action 'verObligatorios' true}}>Temas obligatorios
          ({{contarPropuestasObligatorias}})</h6>
      </div>
      {{#unless estaCerrada}}
        <div class="flex-center pl-10" {{action 'mostrarFormulario'}}>
          <i class="material-icons primary-color clickable">add_circle</i>
          <h6 class="primary-color no-margin add-tema clickable">AGREGAR TEMA</h6>
        </div>
      {{/unless}}
      
    </div>

    <div class="divider"></div>

  </div>

  <table class="bordered highlight table">
    <tbody class="fit-correct-width">
    {{#each reunion.temasPropuestos as |tema|}}
      {{#if (eq mostrarObligatorios tema.esObligatorio)}}
        {{each-card-tema
          tema=tema
          mostrarObligatorios=mostrarObligatorios
          estaCerrada=estaCerrada
          sumarVoto=(action 'sumarVoto')
          restarVoto=(action 'restarVoto')
          votarDisabled=votarDisabled
          votosOpacity=votosOpacity
          mostrarFormularioDeEdicion=(action 'mostrarFormularioDeEdicion')
          borrarTemaElegido=(action 'borrarTemaElegido')
        }}
      {{/if}}
    {{/each}}
    </tbody>
  </table>

  {{#unless estaCerrada}}
    {{#if visibilidadCardDeTema}}
      <div class="modal-background" {{action 'cerrarEditorDeTemaNuevo'}}>
      </div>
      <div id="myModal" class="modal-tema">
        {{#if mostrandoFormularioDeEdicion}}
          {{editor-de-tema titulo='Modificar Propuesta' tema=temaAEditar nombreDeDuraciones=nombreDeDuraciones
                           duraciones=duraciones cerrarEditor=(action 'cerrarEditorDeTema')
                           alGuardar=(action 'updatearTema')  esObligatorio=esObligatorio
                           seleccionarDuracion=(action 'seleccionarDuracion') classNames='col s11'}}
        {{/if}}
        {{#if mostrandoFormularioXTemaNuevo}}
          {{editor-de-tema titulo='Nueva Propuesta' tema=nuevoTema nombreDeDuraciones=nombreDeDuraciones
                           duraciones=duraciones cerrarEditor=(action 'cerrarEditorDeTemaNuevo')
                           alGuardar=(action 'agregarTema')  esObligatorio=esObligatorio
                           seleccionarDuracion=(action 'seleccionarDuracion') classNames='col s11'}}
        {{/if}}
      </div>
    {{/if}}
  {{/unless}}

</div>

{{tenpines/modal-de-confirmacion
  open=modalDeBorradoAbierto
  titulo='Confirmar eliminacion de tema'
  descripcion=mensajeDeConfirmacionDeBorrado
  accionAceptar=(action 'borrarTemaElegido')
}}
{{tenpines/modal-de-confirmacion
  open=modalDeCambioDeObligatoriedadAbierto
  titulo='Cambiando a tema no obligatorio'
  descripcion="Se perderán todos los votos del tema"
  accionAceptar=(action 'updatearTemaConfirmado')
}}


{{#if puedeCerrar}}

  <div class="finish-content">
    <div class="center w-650 align-left">
          <span class="flex-center finish-title">
            <i class="material-icons mr-5">info_outline</i>
            Cerrar Temario para todes
          </span>
      <p class="mt-0">Una vez votados todos los temas y antes de comenzar la reunión, debemos cerrar el
        temario. Al cerrar el
        temario, todos los temas se ordenarán desde el primero más votado por todos los pinos, y <b>nadie mas podrá
          seguir votando</b>
      </p>

      {{#unless estaCerrada}}
        <button type="button" {{action 'pedirConfirmacionDeCierre'}} class="btn-flat bold btn">
          <h6>Terminar votacion</h6>
        </button>
      {{/unless}}

      {{#if estaCerrada}}
        <button type="button" {{action 'reabrirVotacion'}} class="btn-flat bold btn">
          <h6>Reabrir votacion</h6>
        </button>

      {{/if}}

    </div>

    {{tenpines/modal-de-confirmacion
      open=modalDeCierreAbierto
      titulo='Confirmar cierre de votación'
      descripcion='¿Estás seguro que querés cerrar la votación, que comience la reunión y que nadie más pueda seguir votando?'
      accionAceptar=(action 'cerrarVotacion')
    }}
  </div>
{{/if}}
