<div class="reuniones-list">
  <div class="reuniones-list__listado">
    <h4 class="reuniones-list__listado__title"> Todas las reuniones </h4>
    {{#tenpines/object-table titulos='Fecha, Temas, Status' col=anchoDeTabla bordered=true highlight=true }}
      {{#each model as |reunion|}}
        <tr {{action 'verReunion' reunion}}>
          <td>{{reunion.fecha}}</td>
          <td>{{reunion.temasPropuestos.length}}</td>
          <td>{{reunion.status}}</td>
        </tr>
      {{/each}}
    {{/tenpines/object-table}}
    <div class="row">
      <a class="btn-large waves-effect waves-light purple" {{action 'crearReunion'}}>AGREGAR ROOT EXTRAORDINARIA</a>
    </div>

  </div>
  <div class="reuniones-list__detalle">
      {{detalle-de-reunion
        reunionSeleccionada=reunionSeleccionada
        mostrandoNoVotantes=mostrandoNoVotantes
        reunionCerrada=reunionCerrada
      }}

    {{#if mostrandoMinuta}}
      {{mostrador-de-minuta cerrarMinuta=(action 'cerrarMinuta') minuta=minuta}}
    {{/if}}
  </div>
</div>



