<div class="meetings">
  <div class="meetings__list">
    <div class="meetings__list__title"> Todas las reuniones</div>
    {{#tenpines/object-table titulos='Fecha, Temas' bordered=true}}
      {{#each model as |reunion|}}
        <tr {{action 'verReunion' reunion}}>
          <td>{{reunion.fechaFormateada}}</td>
          <td>{{reunion.temasPropuestos.length}}</td>
          <td>
            {{#link-to 'minuta.ver' reunion.id}}
              {{#if (eq reunion.status 'CON_MINUTA')}}
                <a class="btn-floating waves-effect waves-light white right m-5"><i
                  class="material-icons black-text">speaker_notes</i></a>
              {{/if}}
              {{#if (eq reunion.status 'CERRADA')}}
                <a class="btn-floating waves-effect waves-light pink right m-5"><i
                  class="material-icons">speaker_notes_off</i></a>
              {{/if}}
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    {{/tenpines/object-table}}
    <a class="meetings__list__button btn purple" {{action 'crearReunion'}}>AGREGAR ROOT EXTRAORDINARIA</a>

  </div>
  <div class="meetings__detail">
    {{detalle-de-reunion
      reunion=reunionSeleccionada
      reunionCerrada=reunionCerrada
      duraciones=duraciones
      recargarLista=(action 'recargarLista')
    }}
  </div>
</div>
{{#if mostrarModal }}
  {{#modal-editor
    titulo="Seleccionar fecha para la root"
    guardarHabilitado=guardarHabilitado
    manejarGuardar=(action 'guardarNuevaReunion')
    manejarCerrar=(action 'cerrarEditor')
  }}
    {{tenpines/input-date label='Fecha' value=fechaNuevaReunion}}
  {{/modal-editor}}

{{/if}}