<div class="card">
  <div class="card-content">

        <span class="card-title" style="display:flex; align-items:center; justify-content:flex-start">
          <i class="material-icons primary-color">flag</i>
          <h4 class="bold" style="margin-left:10px">Nuevo Action Item</h4>
        </span>
    <div >
      {{tenpines/input-text label="Descripción" value=actionItemEnCreacion.descripcion}}
    </div>
    <div class="action-item-list">
      {{#power-select-multiple
        options=usuarios
        selected=actionItemEnCreacion.responsables
        searchField="name"
        placeholder="Seleccione los responsables"
        noMatchesMessage="No more pinos"
        onchange=(action (mut actionItemEnCreacion.responsables))
      as |usuario|
      }}
        {{usuario.name}}
      {{/power-select-multiple}}
    </div>
  </div>
  <div class="card-content" style="display: flex;
    flex-direction: row-reverse;">
    <button type="button"  class="btn-flat bold btn" onclick={{action alGuardarYCrearOtro}}>GUARDAR Y CREAR OTRO</button>
    <button type="button" class="btn-flat bold border-btn" onclick={{action alSoloGuardar actionItemEnCreacion}}>SOLO GUARDAR</button>
    <button type="button" class="btn-flat bold" onclick={{action alCancelar}}>CANCELAR</button>
  </div>
</div>