<div class="card">
  <div class="card-content">

        <span class="card-title" style="display:flex; align-items:center; justify-content:flex-start">
          <i class="material-icons primary-color">flag</i>
          <h4 class="bold" style="margin-left:10px">Nuevo Action Item</h4>
        </span>
    {{selector-y-descripcion-action-item usuariosParaListar=usuarios actionItem=actionItemEnCreacion}}
  </div>
  <div class="card-content" style="display: flex;
    flex-direction: row-reverse;">
    <button type="button" class="btn-flat bold btn {{guardarHabilitado}}"
            onclick={{ action 'limpiarDespuesDe' (action alGuardarYCrearOtro actionItemEnCreacion)}}>GUARDAR Y CREAR OTRO
    </button>
    <button type="button" class="btn-flat bold border-btn {{guardarHabilitado}}"
            onclick={{action 'limpiarDespuesDe' (action alSoloGuardar actionItemEnCreacion)}}>SOLO GUARDAR
    </button>
    <button type="button" class="btn-flat bold" onclick={{action alCancelar}}>CANCELAR</button>
  </div>
</div>