<div {{action onClick}} style={{if expandido descriptionMaxHeight}}
                        class="descripcion-minuta {{unless expandido "colapsada"}}">
  {{#if tema.esTemaParaProponerPinos}}
      <p>
        {{#each tema.propuestas as |propuesta|}}
          <b>Pino</b> {{propuesta.pino}} ⇨ <b>Sponsor</b> {{propuesta.sponsor.name}} <br>
        {{/each}}
      </p>
  {{else if tema.esTemaConDescripcion}}
    {{markdown-view value=tema.descripcion}}
  {{/if}}
</div>