<div class="card">

  <div class="detalle-reunion__header">
    <div class="detalle-reunion__header__title"> Root del {{reunionSeleccionada.fecha}} </div>

    <div class="detalle-reunion__header__seccion-botones">
      <a class="btn purple" {{action 'crearReunion'}}><i
        class="material-icons">speaker_notes</i>VER MINUTA</a>

      <a class="btn-floating transparent right m-5"  {{action ''}}>
        <i class="material-icons black-text">more_vert</i>
      </a>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      {{#if reunionCerrada}}
        <div class="col s2 push-l10">
          <label>
            Duración (minutos)
            <div class="input-field ">
              {{input value=duracionDeReunion type="number" class="validate" name="minutos de reunion"}}
            </div>
          </label>
        </div>
      {{/if}}
    </div>
    <div class="row">
      {{#tenpines/object-table titulos=tableTitles col='s12' responsive=true}}
        {{#each reunionSeleccionada.temasPropuestos as |tema|}}
          {{tema-en-tabla
            reunionCerrada=reunionCerrada
            tema=tema
            ultimoTema=ultimoTemaQueEntra
            duraciones=duraciones}}
        {{/each}}
      {{/tenpines/object-table}}
    </div>
  </div>
  <div class="card-footer">
    <img src="assets/reunion.svg" />
  </div>
</div>

