<div class="card">
  <div class="meeting-detail__header">
    <div class="meeting-detail__header__title"> Root del {{reunionSeleccionada.fechaFormateada}} </div>

    <div class="meeting-detail__header__buttons-section">
      {{#if reunionCerrada }}
        {{#link-to 'minuta.ver' reunionSeleccionada.id}}
          <a class="meeting-detail__header__buttons-section__primary-button btn purple">
            <i class="material-icons">speaker_notes</i>VER MINUTA</a>
        {{/link-to}}
      {{else}}
        {{#link-to 'reuniones.edit' reunionSeleccionada.id }}
          <a class="meeting-detail__header__buttons-section__primary-button btn purple">
            <i class="material-icons">add</i>AGREGAR TEMA</a>
        {{/link-to}}
      {{/if}}
      <div class="meeting-detail__header__buttons-section__secondary-buttons">
        <a class="btn-floating white right m-5"  {{action 'masOpciones'}}>
          <i class="material-icons black-text">more_vert</i>
        </a>
        {{#if showOptions}}
          <div class="meeting-detail__header__buttons-section__secondary-buttons__container">
            <a class="btn-floating white right m-5" {{action 'editarReunion' reunionSeleccionada}}>
              <i class="material-icons black-text">create</i>
            </a>
            <div class="the-lock position-relative clickable">
              <a class="btn-floating white right m-5" {{action 'compartirReunion' reunionSeleccionada}}>
                <i class="material-icons black-text">share</i>
              </a>
              {{#if showCopyToClipboardMessage}}
                <span class="tool-tip-text">Copiado al clipboard</span>
              {{/if}}
            </div>
            {{#if (eq reunionSeleccionada.status 'CON_MINUTA')}}
              <a class="btn-floating right m-5 yellow" {{action 'mostrarSolicitudParaReabrirReunion' reunionSeleccionada}}>
                <i class="material-icons black-text">speaker_notes_off</i>
              </a>
            {{/if}}
            <a class="btn-floating pink right m-5" {{action 'mostrarConfirmacionParaEliminarReunion'}}>
              <i class="material-icons white-text">delete</i>
            </a>
          </div>
        {{/if}}

      </div>
    </div>
  </div>
  <div class="meeting-detail__body card-content">
    {{#if reunionCerrada}}
      <div class="meeting-detail__body__available-time">
        <div class="purple-text">- - - -</div>
        <div>Temas que entran en 3 horas</div>
      </div>
    {{/if}}
    <div class="meeting-detail__body__table">
      {{#tenpines/object-table titulos=tableTitles col='s12' responsive=true}}
        {{#each reunionSeleccionada.temasPropuestos as |tema|}}
          {{tema-en-tabla
            reunionCerrada=reunionCerrada
            tema=tema
            ultimoTema=ultimoTemaQueEntra
            duraciones=duraciones}}
        {{/each}}
      {{/tenpines/object-table}}
    </div>
  </div>
  <div class="card-footer">
    <img src="/reunion.svg"/>
  </div>
</div>

{{tenpines/modal-de-confirmacion
  open=modalDeReabrirReunionAbierto
  titulo='Reabrir la reunión'
  descripcion='¿Querés volver a abrir la reunión? No se eliminará la minuta asociada a la misma. ¿Deseas continuar?'
  accionAceptar=(action 'reabrirReunionSeleccionada')
}}

{{modal-de-confirmacion
  open=modalDeEliminarReunionAbierto
  titulo='Eliminar la reunión'
  descripcion='Si eliminas la reunión no podrás recuperarla ¿Deseas continuar?'
  accionAceptar=(action 'eliminarReunion')
}}
