{{#if (or mostrarObligatorios (not tema.esObligatorio))}}

  <div class="reunion__body__temas">
    <div>
      {{header-tema
        tema=tema
        mostrarFlagActionItems=false
        mostrarCandado=tema.esObligatorio
        antiguedadRelativa=true
      }}
      {{descripcion-de-tema-expansible tema=tema expandido=expandido onClick=(action 'expandirDescripcion')}}
    </div>

    {{#if expandido}}
      <div class="tema-colapse-button">
        <button class="colapse-button" onclick={{action 'colapsarDescripcion'}}>
          <i class="material-icons">unfold_less</i>
        </button>
      </div>
    {{/if}}

    <div class="divider"></div>

    <div class="reunion__body__temas__detalles">

      <div class="reunion__body__temas__detalles__datos">

        <div class="reunion__body__temas__detalles__datos__item">
          <i class="material-icons opacity-70">person</i>
          <div class="opacity-70">{{tema.autor}}</div>
        </div>
        <div class="reunion__body__temas__detalles__datos__item">
          <i class="material-icons m-5">access_time</i>
          <div class={{tema.colorDuracion}}>{{tema.duracion}}</div>
        </div>
        <div class="reunion__body__temas__detalles__datos__item" id="edit-menu">
          {{#tenpines/drop-down icon='more_vert' removeBtn=true }}
            {{#unless tema.esTemaParaProponerPinos}}
              <li class="light-grey" {{action mostrarFormularioDeEdicion tema}}>
                <a class="black-text">Editar</a>
              </li>
            {{/unless}}
            <li class="divider"></li>
            <li class="light-grey"><a class="black-text" {{action borrarTemaElegido tema}}>Eliminar</a></li>
          {{/tenpines/drop-down }}
        </div>
      </div>


      {{#unless estaCerrada}}
        {{#unless tema.esObligatorio}}
          <div class="flex-center m-10">

            <button type="button" id="agregar-button" {{action sumarVoto tema}}
                    class="btn-flat bold btn fit-content-height"
                    disabled={{votarDisabled}}>

              <div class="flex-center">
                {{#repetir-pedazo class="flex-center" veces=tema.cantidadVotosPropios}}
                  <i class="material-icons yellow-text height-inherit {{votosOpacity}}">star</i>
                {{/repetir-pedazo}}

                <h6 class="bold">
                  {{#if tema.tieneVotos}}
                    VOTAR DE NUEVO
                  {{else}}
                    VOTAR
                  {{/if}}
                </h6>
              </div>

            </button>

            {{#if tema.tieneVotos}}
              <button class="btn noPadding w-46 noHover ml-5" id="quitar-button" {{action restarVoto tema}}
                      disabled={{votarDisabled}}>
                <i class="material-icons primary-color menus-button" id="quitar-icon">
                  indeterminate_check_box</i>
              </button>
            {{/if}}
          </div>

        {{/unless}}
      {{/unless}}

    </div>
  </div>

{{/if}}