<div class="mb-20">
  <div class="tema-content">
    <h5 class="gray-subtitle">Conclusiones</h5>
    {{text-area value=temaDeMinuta.conclusion}}

  </div>
  <div class="card-action">
    <div class="divider"></div>
    <div class="tema-content mb-20">
      <div class="flex-center">
        <i class="material-icons opacity-20">flag</i>
        <h5 class="gray-subtitle ml-10">Action Items</h5>

      </div>
      <span class="flex-center justify-center" {{action "agregarActionItem"}}>
        <i class="material-icons primary-color pointer">add_circle</i>
       <h6 class="primary-color add-tema cursor pointer">AGREGAR ACTION ITEM</h6>
     </span>

      {{each-action-items actionItems=temaDeMinuta.actionItems usuarios=usuarios }}
    </div>
  </div>
  <div class="divider"></div>
  <div class="minuta-botom-tema">
    <button type="button"{{action alCerrar}} class="btn-flat bold">
      <h6 class="bold"> Cancelar </h6>
    </button>
    <button type="button" onclick={{action alGuardar fueTratado}}
            class="btn-flat btn bold {{guardarConclusionHabilitado}}">
      <h6 class="bold"> Guardar </h6>
    </button>

  </div>
</div>
