{{#modal-editor
    titulo=titulo
    guardarHabilitado=guardarHabilitado
    manejarGuardar=(action 'guardar' alGuardar)
    manejarCerrar=(action cerrarEditor)
}}
  <div class="texto-tema col s4">
    <label>Título</label>
    {{input id="titulo" value=tema.titulo}}
  </div>
  <div class="col s4 selector-duracion">
    <label class="duracion-label">Duración</label>
    {{#power-select
        options=nombreDeDuraciones
        selected=tema.duracion
        noMatchesMessage=""
        searchEnabled=false
        placeholder=""
        onchange=(action (mut tema.duracion))
    as |duracion|
    }}
      {{duracion}} {{minutos-de-duracion duracion duraciones }}
    {{/power-select}}
  </div>

  <div class="col s2 parcheDeContEditor">
    <div class="parcheDeEditorBottom ">
      {{materialize/check-box label='Obligatorio' checked=esObligatorio checkboxClasses="filled-in"
                              disabled=checkboxDeshabilitado}}
    </div>
  </div>
  <div class="texto-tema" id="texto-descripcion">
    {{text-area label='Descripción' value=tema.descripcion col='s12' }}
  </div>
{{/modal-editor}}