<div class="white">

  <div class="tema-content flex-center space-between white" {{action 'verEditorDeConclusion' temaDeMinuta}}>
    <div class="mr-20">
      <td class="noPadding">
        <h5 class="titulo-de-tema">{{temaDeMinuta.tema.titulo}}</h5>
        <p class="minuta-paragraph">{{markdown-view
          value=temaDeMinuta.tema.descripcion}}</p>
      </td>
    </div>

    <div {{action 'mostrarEditor'}}>
      {{switch-tratado tema=temaDeMinuta}}
    </div>
  </div>

  {{# if mostrandoEditor}}
    <div class="mb-20">
      <div class="tema-content">
        <h5 class="gray-subtitle">Conclusiones</h5>
        {{text-area value=temaDeMinuta.conclusion}}

      </div>

      <div class="tema-horizontal-margin">
        {{add-action-item temaDeMinuta=temaDeMinuta usuarios=model.usuarios }}
      </div>

      <div class="divider"></div>
      {{minuta-tema-buttons alCerrar=(action 'cerrarEditor') alGuardar=guardarConclusion temaDeMinuta=temaDeMinuta}}
    </div>
  {{/if}}

</div>