<div class="white">

  <div class="tema-content flex-center space-between white" {{action 'verEditorDeConclusion' temaDeMinuta}}>
    <div class="mr-20">
      <td class="noPadding">
        <h5 class="titulo-de-tema">{{temaDeMinuta.tema.titulo}}</h5>
        <p class="minuta-paragraph">{{markdown-view
          value=temaDeMinuta.tema.descripcion}}</p>
      </td>
    </div>

    <div {{action 'mostrarEditor'}}>
      {{switch-tratado tema=temaDeMinuta}}
    </div>
  </div>

  <div id="mostrar-edito">
    {{# if mostrandoEditor}}
      {{editor-de-conclusion
        alGuardar=guardarConclusion
        alCerrar=(action 'cerrarEditor')
        temaDeMinuta=temaDeMinuta
        usuarios=model.usuarios
      }}
    {{/if}}
  </div>
</div>