<div class="tema-content flex-center space-between white" {{action 'verEditorDeConclusion' temaDeMinuta}}>
  <div class="mr-20">
    <td class="noPadding">
      <h5 class="titulo-de-tema">{{temaDeMinuta.tema.titulo}}</h5>
      <p class="minuta-paragraph" >{{markdown-view
        value=temaDeMinuta.tema.descripcion}}</p>
    </td>
  </div>

  <div>
    <h6 class="center-align"> ¿Fue tratado?</h6>
    <div class="space-between mt-20">
      <button type="button" {{action 'setTratado' true}} class="btn-flat bold mr-20 {{fueTratado}}">
        <h6 class="bold"> SI </h6>
      </button>
      <button type="button" {{action 'setTratado' false}} class="btn-flat bold {{noFueTratado}}">
        <h6 class="bold"> NO </h6>
      </button>
    </div>
  </div>

</div>

<div id="mostrar-edito">
  {{# if mostrandoEditor}}
    {{editor-de-conclusion
      alGuardar=(action 'guardarConclusion')
      alCerrar=(action 'cerrarEditor')
      temaDeMinuta=temaDeMinuta
      usuarios=model.usuarios
    }}
  {{/if}}
</div>