<td>
  {{tema.prioridad}}
</td>
<td>
  <h5 class="titulo-de-tema">{{tema.titulo}}</h5>
</td>
<td>
  {{tema.autor}}
</td>
<td>
  {{cantDeMinutosDeDuracionDeTema}}'
</td >
<td>
  {{#if tema.esObligatorio}}
    <i class="material-icons"> lock</i>
  {{else}}
    {{tema.cantidadVotosTotales}}
  {{/if}}
</td>

{{#if reunionCerrada}}
<td>
  {{#if tema.fueTratado}}
    <i class="material-icons"> check_box </i>
  {{else}}
    <i class="material-icons"> check_box_outline_blank </i>
  {{/if}}
</td>
{{/if}}
