{{#if temaTratado}}
  <div class="minuta-tratado-title" {{action 'verDetalleDeTema'}}>
    <td class="noPadding flex space-between">
      <h5 class="titulo-de-tema">{{temaDeMinuta.tema.titulo}} </h5>
      {{#if temaDeMinuta.actionItems.length}}
        <i class="material-icons primary-color">flag</i>
      {{/if}}
    </td>
  </div>
{{else}}
  <div class="tema-content flex-center space-between white pb-15" {{action 'verDetalleDeTema'}}>

    <div class="minuta-tema-no-tratado">
      <div>
        <h5 class="titulo-de-tema">{{temaDeMinuta.tema.titulo}}</h5>
        {{texto-extensible texto=temaDeMinuta.tema.descripcion expandido=textoExtendido 
        onClick=(action 'expandirDescripcion')}}
      </div>
      <div class="ml-20">
        {{switch-tratado tema=temaDeMinuta}}
      </div>
    </div>
  </div>
{{/if}}
<div>
  {{#if mostrandoDetalle }}
    <div class="tema-horizontal-margin flex space-between">
      {{#if temaTratado}}
        {{texto-extensible texto=temaDeMinuta.tema.descripcion expandido=textoExtendido 
        onClick=(action 'expandirDescripcion')}}
        <div class="ml-20">
          {{switch-tratado tema=temaDeMinuta}}
        </div>
      {{/if}}
    </div>

    {{#if textoExtendido}}
      <div class="tema-colapse-button">
        <button class="colapse-button" onclick={{action 'colapsarDescripcion'}}>
          <i class="material-icons">unfold_less</i>
        </button>
      </div>
      <div class="divider"></div>
    {{/if}}

    <div class="tema-horizontal-margin">
      <h4 class="gray-subtitle">Conclusiones</h4>
      {{text-area value=temaDeMinuta.conclusion}}
    </div>
    <li class="divider"></li>

    {{add-action-item temaDeMinuta=temaDeMinuta usuarios=usuarios }}
    {{minuta-tema-buttons alCerrar=(action "ocultarDetalleDeTema")
                          alGuardar=guardarConclusion
                          temaDeMinuta=temaDeMinuta}}
  {{/if}}
</div>


