
<div class="minuta-tratado-title" {{action 'verDetalleDeTema' temaDeMinuta}}>
  <td class="noPadding flex space-between">
    <h5 class="titulo-de-tema">{{temaDeMinuta.tema.titulo}} </h5>
    {{#if temaDeMinuta.actionItems.length}}
      <i class="material-icons primary-color">flag</i>
    {{/if}}
  </td>
</div>

<div id="ancho-card-tema-tratado">
  {{#if mostrarDetalle}}
    <div class="tema-horizontal-margin flex space-between">
      {{#if expandido}}
        <p class="crop clickable descripcion-minuta" id="descripcion-expandida">
          {{markdown-view
            value=temaDeMinuta.tema.descripcion
          }}
        </p>
      {{else}}
        <p class="crop clickable descripcion-minuta" id="descripcion-no-expandida" {{action 'expandirDescripcion'}}>
          {{markdown-view
            value=temaDeMinuta.tema.descripcion
          }}
        </p>
      {{/if}}
      {{#if editable}}
        {{switch-tratado tema=temaDeMinuta}}
      {{/if}}
    </div>

    {{#if expandido}}
      <div id="tema-colapse-button">
        <button class="colapse-button" onclick={{action 'colapsarDescripcion'}}>
          <i class="material-icons">unfold_less</i>
        </button>
      </div>
      <div class="divider"></div>
    {{/if}}

    <div class="tema-horizontal-margin">
      <h4 class="gray-subtitle">Conclusiones</h4>
      {{#if editable}}
        {{text-area value=temaDeMinuta.conclusion}}
      {{else}}
        <p>{{temaDeMinuta.conclusion}}</p>
      {{/if}}
    </div>
    <li class="divider"></li>

    {{#if editable}}
      {{add-action-item temaDeMinuta=temaDeMinuta usuarios=usuarios }}
      {{minuta-tema-buttons alCerrar=(action "ocultarDetalleDeTema" temaDeMinuta)
                            alGuardar=guardarConclusion
                            temaDeMinuta=temaDeMinuta}}
    {{else}}

      <div class="tema-horizontal-margin">
        <div class="flex-center mb-20">
          <i class="material-icons opacity-35 mr-10">flag</i>
          <h4 class="gray-subtitle">Action Items</h4>
        </div>

        {{#each temaDeMinuta.actionItems as |actionItem| }}
          <div class="minuta-action-item">
            <div>
              <i class="material-icons primary-color mr-10">flag</i>
            </div>
            <div>
              <p class="no-margin">{{actionItem.descripcion}}</p>
              {{#each actionItem.responsables as |responsable|}}
                <p class="responsable-item mt-10">{{responsable.name}}</p>
              {{/each}}
            </div>
          </div>
          <br/>
        {{/each}}
      </div>
    {{/if}}

    <div class="relative-position-button mr-20">
      <button class="colapse-button" onclick={{action "ocultarDetalleDeTema" temaDeMinuta}}>
        <i class="material-icons">unfold_less</i>
      </button>
    </div>
  {{/if}}
</div>


