<div class="row">
  <div class="col s12 minuta-title">
    <h4 class="title-label">Minuta de reunión </h4>
    <h4 class="minuta-date"> {{fecha}}</h4>
  </div>
  <div class="minuta-body">
    <div class="col s3">

      <h5>Asistentes</h5>

      {{#power-select-multiple
        options=usuariosSeleccionables
        selected=usuariosSeleccionados
        searchField="name"
        placeholder="Seleccione los asistentes a la reunión"
        noMatchesMessage="No more pinos"
        onchange=(action (mut usuariosSeleccionados))
      as |usuario|
      }}
        {{usuario.name}}
      {{/power-select-multiple}}
      <div class="card-action center-align con-padding">
        <a class="waves-effect waves-light btn" onclick={{action 'guardarUsuariosSeleccionados'}}
           type="button">Agregar</a>
      </div>

    </div>

    <div class="col s9">
      <div class="flex-center">
        <h4 class="minuta-subtitle no-margin">Temas pendientes de minutear</h4>
        <h6 class="minuta-count">{{temasPendientes.length}}</h6>
      </div>
      <table class="bordered highlight table">
        <tbody>
        {{#each  temasPendientes as |temaDeMinuta|}}
          <tr>
            {{minuta-tema model=model temaDeMinuta=temaDeMinuta router=router}}
          </tr>
        {{/each}}
        </tbody>
      </table>

      <div>
        <h4 class="minuta-subtitle no-margin">Temas tratados</h4>
      </div>
      <table class="bordered highlight table">
        <tbody>
        {{#each  temasTratados as |tema|}}
          <tr>
            {{view-minuta-tema model=model temaDeMinuta=tema}}
          </tr>
        {{/each}}
        </tbody>
      </table>

      <div id="toast">
        <i class="material-icons" id="img">email</i>
        <div id="desc">Las siguientes personas deben volver a loggearse para poder recibir un mail:</div>
        {{#each nombresDePersonasSinMail as |nombre|}}
          {{nombre}}
        {{/each}}
      </div>
    </div>
  </div>
</div>