<div class="row">
  <div class="col s3">

    <h5>Asistentes</h5>
      <table>
        <tbody>
        {{#each usuariosSeleccionados as |usuario|}}
        <tr>
          <li class="asistente-pill">
            {{usuario.name}}
            <button type="button" id="close-button" onclick={{action 'quitarAsistente' usuario}}>
              <i class="material-icons right" id="close-icon">close</i>
            </button>
          </li>
        </tr>
        {{/each}}
        </tbody>
      </table>

    {{#power-select
      options=usuariosSeleccionables
      searchField="name"
      placeholder="Seleccione los asistentes a la reunión"
      noMatchesMessage="No more pinos"
      onchange=(action 'agregarAsistente')
    as |usuario|
    }}
      {{usuario.name}}
    {{/power-select}}

  </div>
  <div class="col s9">
    <h5>Temas</h5>

    {{#tenpines/object-table titulos='Prioridad, Tema, Autor, Duración, Obligatoriedad ' col=anchoDeTabla bordered=true
                             highlight=true }}

      {{#each  minuta.temas as |temaDeMinuta|}}
        <tr  {{action 'verEditorDeConclusion' temaDeMinuta}} >
          <td>{{temaDeMinuta.tema.prioridad}}</td>
          <td>{{temaDeMinuta.tema.titulo}}</td>
          <td>{{temaDeMinuta.tema.autor}}</td>
          <td>{{temaDeMinuta.tema.duracion}}</td>
          <td>{{temaDeMinuta.tema.obligatoriedad}}</td>
          {{tema-de-minuta-conclusion-checked usuarios=usuarios temaDeMinuta=temaDeMinuta}}
        </tr>
      {{/each}}
    {{/tenpines/object-table}}

    {{# if mostrandoEditor}}
      {{editor-de-conclusion
        alGuardar=(action 'guardarConclusion')
        alCerrar=(action 'cerrarEditor')
        temaDeMinuta=temaAEditar
        usuarios=model.usuarios
      }}
    {{/if}}
  </div>
</div>