<div class="row">
  <div class="col s12 minuta-title">
    <h4 class="title-label">Minuta de reunión </h4>
    <h4 class="minuta-date"> {{fecha}}</h4>
  </div>
  <div class="minuta-body">
    <div class="col s3">

      <h5 class="center">Asistentes</h5>
      <ul>
        {{#each usuariosSeleccionados as |usuario|}}
          <li>
            <div class="asistente-pill">
              <button type="button" id="close-button" onclick={{action 'quitarAsistente' usuario}}>
                <i class="material-icons" id="close-icon">close</i>
              </button>
              <span>
                {{usuario.name}}
              </span>
            </div>
          </li>
        {{/each}}
      </ul>

      <div class="selector-asistente">
        {{#power-select
          options=usuariosSeleccionables
          searchField="name"
          placeholder="Seleccione a los asistentes"
          noMatchesMessage="No more pinos"
          onchange=(action 'agregarAsistente')
        as |usuario|
        }}
          {{usuario.name}}
        {{/power-select}}
      </div>

    </div>
    <div class="col s9">
      <h5 class="center">Temas</h5>

      {{#tenpines/object-table titulos='Prioridad, Tema, Autor, Duración, Obligatoriedad ' col=anchoDeTabla
                               bordered=true highlight=true }}

        {{#each  minuta.temas as |temaDeMinuta|}}
          <tr  {{action 'verEditorDeConclusion' temaDeMinuta}} >
            <td>{{temaDeMinuta.tema.prioridad}}</td>
            <td>{{temaDeMinuta.tema.titulo}}</td>
            <td>{{temaDeMinuta.tema.autor}}</td>
            <td>{{temaDeMinuta.tema.duracion}}</td>
            <td>{{temaDeMinuta.tema.obligatoriedad}}</td>
            {{tema-de-minuta-conclusion-checked usuarios=usuarios temaDeMinuta=temaDeMinuta}}
          </tr>
        {{/each}}
      {{/tenpines/object-table}}

      {{# if mostrandoEditor}}
        {{editor-de-conclusion
          alGuardar=(action 'guardarConclusion')
          alCerrar=(action 'cerrarEditor')
          temaDeMinuta=temaAEditar
          usuarios=model.usuarios
        }}
      {{/if}}
    </div>
  </div>
</div>